In [1]:
import pandas as pd

In [3]:
bond_dataset=pd.read_csv("/Users/Suganya/Downloads/jamesbond.csv").convert_dtypes()

In [4]:
bond_dataset.head()

,Year,Movie,Bond,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,Bond_Car_MFG,...,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Conquests,Martinis,BJB,Kills_Bond,Kills_Others,Top_100,Video_Game
0,1962,Dr. No,Sean Connery,Terence Young,Monty Norman,"Richard Maibaum, Johanna Harwood & Berkely Mather",Ted Moore,"Great Britain, Jamaic","England, Jamaica",Sunbeam,...,110,7.3,7.7,3,2,1,4,8,0,0
1,1963,From Russia with Love,Sean Connery,Terence Young,John Barry,Richard Maibaum & Johanna Harwood,Ted Moore,"United Kingdom, Great Britain, Turkey, Croatia...","England, Scotland, Italy, Switzerland, Turkey",Bently,...,115,7.5,8.0,4,0,0,11,16,0,1
2,1964,Goldfinger,Sean Connery,Guy Hamilton,John Barry,Richard Maibaum & Paul Dehn,Ted Moore,"United States, Great Britain, Switzerland","England, Switzerland, United States",Aston Martin,...,110,7.8,8.4,2,1,2,9,68,1,1
3,1965,Thunderball,Sean Connery,Terence Young,John Barry,Richard Maibaum & John Hopkins,Ted Moore,"France, Great Britain, Bahamas, United States","England, France, Bahamas, United States",Aston Martin,...,130,7.0,6.8,3,0,0,20,90,1,0
4,1967,You Only Live Twice,Sean Connery,Lewis Gilbert,John Barry,Roald Dahl,Freddie Young,"United States, Russia, Kazakhstan, Norway, Japan","Japan, Spain, Norway",Toyota,...,117,6.9,6.3,3,1,0,21,175,1,0

In [5]:
d={ "Release": "release_date",
   ...:     "Movie": "movie_title",
   ...:     "Bond": "bond_actor",}

In [6]:
d

{'Release': 'release_date', 'Movie': 'movie_title', 'Bond': 'bond_actor'}

In [8]:
bond_dataset.columns

Index(['Year', 'Movie', 'Bond', 'Director', 'Composer', 'Writer',
       'Cinematographer', 'Depicted_Film_Loc', 'Shooting_Loc', 'Bond_Car_MFG',
       'Bond_Girl_Nat', 'US_Gross', 'US_Adj', 'World_Gross', 'World_Adj',
       'Budget', 'Budget_Adj', 'Film_Length', 'Avg_User_IMDB',
       'Avg_User_Rtn_Tom', 'Conquests', 'Martinis', 'BJB', 'Kills_Bond',
       'Kills_Others', 'Top_100', 'Video_Game'],
      dtype='object')

In [11]:
bond_dataset[bond_dataset.select_dtypes('number').columns.to_list()]

,Year,US_Gross,US_Adj,World_Gross,World_Adj,Budget,Budget_Adj,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Conquests,Martinis,BJB,Kills_Bond,Kills_Others,Top_100,Video_Game
0,1962,16067035,123517,59567035,457928,1000,7688,110,7.3,7.7,3,2,1,4,8,0,0
1,1963,24800000,188161,78900000,598624,2000,15174,115,7.5,8.0,4,0,0,11,16,0,1
2,1964,51100000,382699,124900000,935404,3000,22468,110,7.8,8.4,2,1,2,9,68,1,1
3,1965,63600000,468754,141200000,1040693,9000,66333,130,7.0,6.8,3,0,0,20,90,1,0
4,1967,43100000,299591,111600000,775740,9500,66035,117,6.9,6.3,3,1,0,21,175,1,0
5,1969,22800000,144234,82000000,518736,8000,50608,142,6.8,6.7,3,1,2,5,37,0,0
6,1971,43800000,251083,116000000,664969,7200,41274,120,6.7,6.3,1,0,1,7,42,1,0
7,1973,35400000,185105,161800000,846046,7000,36603,121,6.8,5.9,3,0,1,8,5,1,1
8,1974,21000000,98894,97600000,459623,7000,32965,125,6.7,5.1,2,0,2,1,5,0,0
9,1977,46800000,179297,185400000,710290,14000,53636,125,7.1,6.8,3,1,1,31,116,1,1
10,1979,70300000,224811,210300000,672514,31000,99134,126,6.2,5.7,3,1,1,12,69,0,0
11,1981,54800000,139964,195300000,498812,28000,71514,127,6.8,6.3,2,0,2,18,36,1,0
12,1983,67900000,158274,187500000,437059,27500,64102,131,6.5,5.3,2,0,1,15,43,1,0
13,1985,50327960,108592,152627960,329322,30000,64730,131,6.2,4.7,4,0,2,5,57,1,0
14,1987,51185000,104608,191200000,390758,40000,81749,130,6.7,6.3,2,2,1,13,29,0,0
15,1989,34667015,64907,156167015,292392,42000,78637,133,6.5,6.0,2,1,1,10,13,0,1
16,1995,106429941,162135,356429941,542985,60000,91404,130,7.2,6.9,2,1,1,47,25,0,1
17,1997,125304276,181254,339504276,491098,110000,159117,119,6.4,6.0,3,1,1,30,24,0,1
18,1999,126930660,176885,361730660,504091,135000,188130,128,6.3,5.7,3,1,2,27,43,0,1
19,2002,160942139,207700,431942139,557433,142000,183255,133,6.0,6.1,2,2,1,31,20,1,0
20,2006,167365000,192740,596365000,686784,102000,117465,144,7.9,7.8,2,3,1,11,11,1,0
21,2008,169368427,182633,591692078,638035,230000,248014,106,6.7,6.1,1,6,0,16,15,1,1
22,2012,304360277,307770,1108561108,1120980,200000,202240,143,7.8,8.2,3,1,1,26,26,1,0
23,2015,200074175,196647,879620923,864553,245000,240803,148,6.8,6.4,3,1,1,30,205,1,0

In [12]:
bond_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 27 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               24 non-null     Int64
 1   Movie              24 non-null     string
 2   Bond               24 non-null     string
 3   Director           24 non-null     string
 4   Composer           24 non-null     string
 5   Writer             24 non-null     string
 6   Cinematographer    24 non-null     string
 7   Depicted_Film_Loc  24 non-null     string
 8   Shooting_Loc       24 non-null     string
 9   Bond_Car_MFG       24 non-null     string
 10  Bond_Girl_Nat      24 non-null     string
 11  US_Gross           24 non-null     Int64
 12  US_Adj             24 non-null     Int64
 13  World_Gross        24 non-null     Int64
 14  World_Adj          24 non-null     Int64
 15  Budget             24 non-null     Int64
 16  Budget_Adj         24 non-null     Int64
 17  Film_Length        24 non-null     Int64
 18  Avg_User_IMDB      24 non-null     Float64
 19  Avg_User_Rtn_Tom   24 non-null     Float64
 20  Conquests          24 non-null     Int64
 21  Martinis           24 non-null     Int64
 22  BJB                24 non-null     Int64
 23  Kills_Bond         24 non-null     Int64
 24  Kills_Others       24 non-null     Int64
 25  Top_100            24 non-null     Int64
 26  Video_Game         24 non-null     Int64
dtypes: Float64(2), Int64(15), string(10)
memory usage: 5.6 KB

In [15]:
bond_dataset.isna().any(axis="columns")

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
dtype: bool

In [16]:
bond_dataset[bond_dataset.isna().any(axis="columns")]

Empty DataFrame
Columns: [Year, Movie, Bond, Director, Composer, Writer, Cinematographer, Depicted_Film_Loc, Shooting_Loc, Bond_Car_MFG, Bond_Girl_Nat, US_Gross, US_Adj, World_Gross, World_Adj, Budget, Budget_Adj, Film_Length, Avg_User_IMDB, Avg_User_Rtn_Tom, Conquests, Martinis, BJB, Kills_Bond, Kills_Others, Top_100, Video_Game]
Index: []

[0 rows x 27 columns]

In [20]:
bond_dataset.isna()

,Year,Movie,Bond,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,Bond_Car_MFG,...,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Conquests,Martinis,BJB,Kills_Bond,Kills_Others,Top_100,Video_Game
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False